<footer>
    <div class="footer-container">
      <div class="footer-section logo-section">
        <img src="assets/logo.png" alt="Revo Sport Logo">
        <h1><span class="highlight">REVO</span> SPORT</h1>
      </div>
      <div class="footer-section social-section">
        <h2>REDES SOCIALES</h2>
        <ul>
          <li><i class="fab fa-instagram"></i> REVO SPORT</li>
          <li><i class="fab fa-facebook-f"></i> REVO SPORT</li>
          <li><i class="fab fa-whatsapp"></i> +51 999 888 777</li>
        </ul>
      </div>
      <div class="footer-section nav-section">
        <h2>NAVEGA</h2>
        
        <ul>
            <li><a routerLink="/login">LOGIN</a></li>
            <li><a routerLink="/register">REGISTER</a></li>
            <li><a routerLink="/spaces">ESPACIOS</a></li>
            <li><a routerLink="/routines">RUTINAS</a></li>
          </ul>
          
        

      </div>
    </div>    
  </footer>