<footer>
  <div class="footer-container">
    <div class="footer-section logo-section">
      <img src="assets/logo.png" alt="Revo Sport Logo">
    </div>
    <div class="footer-section social-section">
      <h2>REDES SOCIALES</h2>
      <ul>
        <li><i class="fa-brands fa-instagram"></i> &#64;REVO SPORT</li>
        <li><i class="fa-brands fa-facebook"></i> &#64;REVO SPORT</li>
        <li><i class="fa-brands fa-whatsapp"></i> +51 999 888 777</li>
      </ul>
    </div>
    <div class="footer-section nav-section">
      <h2>NAVEGA</h2>
      <ul>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/spaces">ESPACIOS</a></li>
        <li><a href="/routines">RUTINAS</a></li>
      </ul>
    </div>
  </div>
</footer>
