footer {
  background-color: #1c1c1e;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 0 10px;
  align-content: center;
}
.logo-section {
  display: flex;
  align-items: center;
  padding-left: 200px;
}

.logo-section img {
  width: 280px;
}

.footer-section h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  padding-left: 0px;
}

.footer-section ul li {
  margin: 5px 0;
  padding-left: 0px;
}

.footer-section ul li i {
  margin-right: 10px;
}

.footer-section a {
  color: white;
  text-decoration: none;
  border-radius: 25px; /* Hacer el enlace circular */
  padding: 4px 10px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para un efecto suave */
}

.footer-section a:hover {
  background-color: #FFF112; /* Fondo circular al pasar el cursor y si está activo */
  color: #000; /* Color del texto cuando está activo */
}
