
<header>
  <div class="logo">
    <img src="assets/logoindex.png" alt="Revo Logo">
  </div>
  <nav class="navmenu">
    <ul>
      <li><a [routerLink]="['/home']">home</a></li>
      <li *ngIf="!isLoggedIn()"><a [routerLink]="['/login']">login</a></li>
      <li *ngIf="isLoggedIn()"><a href="#" (click)="logout()">Cerrar Sesión</a></li>
      <li *ngIf="!isLoggedIn()"><a [routerLink]="['/register']">register</a></li>
      <li><a routerLink="/espacios">Espacios</a></li>
      <li *ngIf="isLoggedIn()"><a [routerLink]="['/viewLogin']">Perfil</a></li>
      <li *ngIf="isLoggedIn()"><a [routerLink]="['/rutinas']">Rutinas</a></li>
    </ul>
  </nav>
</header>