/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: transparent;
  border-bottom: 1px solid #686868;
}

/* Logo */
.logo img {
  height: 50px;
}

/* Menú de navegación */
.navmenu {
  margin: 0;
  padding: 0;
}

.navmenu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navmenu ul li {
  margin: 0 15px;
  position: relative;
}

.navmenu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 25px; /* Hacer el enlace circular */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para un efecto suave */
}

.navmenu ul li a:hover,
.navmenu ul li a.active-link {
  background-color: #FFF112; /* Fondo circular al pasar el cursor y si está activo */
  color: #000; /* Color del texto cuando está activo */
}

@media (min-width: 760px) {
  .navmenu ul {
    flex-direction: row;
    justify-content: space-around; /* Cambiado para alinear el contenido a la izquierda */
  }

  .navmenu ul li {
    margin-right: 4rem; /* Espacio entre elementos de navegación */
  }
}




/*-----------------------*/

