.body{
  background-image: url('/assets/register-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-login{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FFF112;
  width: 270px;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.loginCont, .registerCont {
  border-radius: 5px;
  width: 47%;
  height: 25px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginCont{
  background-color:#00000000;
  font-size: 9.5px;
}

.registerCont{
color:#FFF112;
background-color:#000000;
font-size: 9px;
}

.formContainer{
  background-color: #000000a6;
  width: 25%;
  min-width: 360px;
  height: 65%;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registerForm{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.registerForm h1{
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: normal;
}


.registerForm input{
  width: 250px;
  font-size: 16px;
  background-color: #ffffff00;
  color: #ffffff;
  font-weight: bold;
  border: none; 
  border-bottom: solid 0.5px #FFF112;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.registerForm input.input-error {
  border-bottom: 2px solid red;
}

.registerForm input::placeholder {
  color: #ffffff; 
  font-style: normal; 
  font-weight: normal;
}

.registerForm input:focus {
  outline: none;
}

.registerButton {
  position: absolute;
  height: 36px;
  width: 130px;
  right: 35px;
  bottom: 30px;
  border-radius: 8px;
  border: #00000000;
  background-color: #FFF112;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registerButton:hover {
  background-color: #ffef1200;
  border: solid 1px  #000000;
}