.body-register{
  background-image: url('/assets/register-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-login{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#FFF112;
  width: 270px;
  height: 38px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.loginCont, .registerCont {
  border-radius: 5px;
  width: 47%;
  height: 30px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.loginCont{
  background-color:#00000000;
  font-weight: 650;
}

.registerCont{
  color:#FFF112;
  background-color:#000000;
}

.formContainer{
  background-color: #000000a6;
  width: 25%;
  min-width: 360px;
  min-height: 520px;
  height: 570px;
  max-height: 600px;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registerForm{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 13%;
}

.registerForm h1{
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: normal;
}

.registerForm input{
  width: 250px;
  font-size: 16px;
  background-color: #ffffff00;
  color: #ffffff;
  font-weight: bold;
  border: none; 
  border-bottom: solid 1px #FFF112;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.registerForm input.input-error {
  border-bottom: 1px solid red;
}

.registerForm input::placeholder {
  color: #ffffff; 
  font-style: normal; 
  font-weight: normal;
}

.registerForm input:focus {
  outline: none;
  border-bottom: 1px solid #ff7700;
}

.registerButton {
  position: absolute;
  height: 36px;
  width: 130px;
  right: 55px;
  bottom: 70px;
  border-radius: 8px;
  border: #00000000;
  background-color: #FFF112;
  font-size: 16px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.registerButton:hover {
  background-color: #00000067;
  border: solid 1px  #FFF112;
  color: #FFF112;
}

.formContainer p {
  color: #ffffff;
  font-size: 13.5px;
  align-self: center;
}

.formContainer a {
  color:#FFF112;
  font-weight: bold;
  transition: all 0.3s;
}

.formContainer a:hover {
  color:#ff8c00;
  font-weight: bold;
}

.form-group {
  position: relative;
}

.error-message {
  position: absolute;
  top: 0;
  opacity: 90%;
  right: -180px; 
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  padding: 5px 10px; 
  z-index: 1000;
}