<div class="body-register">
  <div class="formContainer">
    <div class="register-login">
      <div class="loginCont">
        <h2>Iniciar Sesíon</h2>
      </div>
      <div class="registerCont">
        <h2>Registrarse</h2>
      </div>
    </div>
      <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <h1>Registre su cuenta Revo</h1>
      
        <div class="form-group">
          <input 
            id="first_name" 
            formControlName="first_name" 
            type="text" 
            class="form-control"
            [placeholder]="'Nombre' + (registerForm.controls['first_name'].invalid && registerForm.controls['first_name'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['first_name'].invalid && registerForm.controls['first_name'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('first_name')" class="error-message">
            {{ getErrorMessage('first_name') }}
          </div>
        </div>
      
        <div class="form-group">
          <input 
            id="last_name" 
            formControlName="last_name" 
            type="text" 
            class="form-control"
            [placeholder]="'Apellido' + (registerForm.controls['last_name'].invalid && registerForm.controls['last_name'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['last_name'].invalid && registerForm.controls['last_name'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('last_name')" class="error-message">
            {{ getErrorMessage('last_name') }}
          </div>
        </div>
      
        <div class="form-group">
          <input 
            id="username" 
            formControlName="username" 
            type="text" 
            class="form-control"
            [placeholder]="'Nombre de Usuario' + (registerForm.controls['username'].invalid && registerForm.controls['username'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['username'].invalid && registerForm.controls['username'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('username')" class="error-message">
            {{ getErrorMessage('username') }}
          </div>
        </div>
      
        <div class="form-group">
          <input 
            id="email" 
            formControlName="email" 
            type="email" 
            class="form-control"
            [placeholder]="'Correo electrónico' + (registerForm.controls['email'].invalid && registerForm.controls['email'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['email'].invalid && registerForm.controls['email'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('email')" class="error-message">
            {{ getErrorMessage('email') }}
          </div>
        </div>
      
        <div class="form-group">
          <input 
            id="password" 
            formControlName="password" 
            type="password" 
            class="form-control"
            [placeholder]="'Contraseña' + (registerForm.controls['password'].invalid && registerForm.controls['password'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['password'].invalid && registerForm.controls['password'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('password')" class="error-message">
            {{ getErrorMessage('password') }}
          </div>
        </div>
      
        <div class="form-group">
          <input 
            id="repeat_password" 
            formControlName="repeat_password" 
            type="password" 
            class="form-control"
            [placeholder]="'Repetir Contraseña' + (registerForm.controls['repeat_password'].invalid && registerForm.controls['repeat_password'].touched || !passwordsMatch() && registerForm.controls['repeat_password'].touched ? ' *' : '')"
            [ngClass]="{'input-error': registerForm.controls['repeat_password'].invalid && registerForm.controls['repeat_password'].touched || !passwordsMatch() && registerForm.controls['repeat_password'].touched}"
            required
          >
          <div *ngIf="isInvalidControl('repeat_password')" class="error-message">
            {{ getErrorMessage('repeat_password') }}
          </div>
        </div>
      
        <button class="registerButton" type="submit" [disabled]="registerForm.invalid">Registrar</button>
      </form>
    <p>Si ya estas registrado, ingresa en el <a [routerLink]="['/login']">Login</a></p>
  </div>
</div>