.body{
  background-image: url('/assets/register-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer{
  background-color: #000000a6;
  width: 25%;
  min-width: 360px;
  height: 65%;
  position: relative;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerForm{
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerForm h1{
  font-size: 20px;
  margin-bottom: 15px;
}


.registerForm input{
  width: 250px;
  font-size: 16px;
  background-color: #ffffff00;
  color: #ffffff;
  font-weight: bold;
  border: none; 
  border-bottom: solid 0.5px #FFF112;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.registerForm input::placeholder {
  color: #ffffff; 
  font-style: normal; 
  font-weight: normal;
}


.registerButton {
  position: absolute;
  height: 40px;
  width: 145px;
  right: 30px;
  bottom: 30px;
  border-radius: 8px;
  background-color: #FFF112;
  font-size: 18px;
  color: black;
  font-weight: bold;
}