<div class="body">
  <div class="formContainer">
    <div class="register-login">
      <div class="loginCont">
        <h2>Iniciar Sesíon</h2>
      </div>
      <div class="registerCont">
        <h2>Registrarse</h2>
      </div>
    </div>

    <form class="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <h1>Registre su cuenta Revo</h1>
      <div>
        <input id="username" formControlName="username" type="text" placeholder="Nombre de Usuario">
        <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
          El nombre de usuario es requerido
        </div>
      </div>
  
      <div>
        <input id="email" formControlName="email" type="email" placeholder="Correo electrónico">
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
          Correo electrónico inválido
        </div>
      </div>
  
      <div>
        <input id="password" formControlName="password" type="password" placeholder="Contraseña">
        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          La contraseña es requerida
        </div>
      </div>

      <div>
        <input id="password" formControlName="password" type="password" placeholder="Repetir Contraseña">
        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          La contraseña es requerida
        </div>
      </div>
  
      <div> 
        <input id="first_name" formControlName="first_name" type="text" placeholder="Nombre">
        <div *ngIf="registerForm.controls['first_name'].invalid && registerForm.controls['first_name'].touched">
          El nombre es requerido
        </div>
      </div>
  
      <div>
        <input id="last_name" formControlName="last_name" type="text" placeholder="Apellido">
        <div *ngIf="registerForm.controls['last_name'].invalid && registerForm.controls['last_name'].touched">
          El apellido es requerido
        </div>
      </div>
  
      <button class="registerButton" type="submit" [disabled]="registerForm.invalid">Registrar</button>
    </form>
  </div>
</div>