{% extends 'core/base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
    }
    h3 {
        color: #5A5A5A;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }
    p {
        color: #555;
        text-align: left;
        margin-left: 20px;
        font-size: 18px;
    }
</style>

<h3>Productos</h3>
<p>RUTINA 1</p>
<p>RUTINA 2</p>
<p>RUTINA 3</p>
<p>RUTINA 4</p>
<p>RUTINA 5</p>

{% endblock %}