.body-viewLogin {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .datosFisicosContainer, .rutinasContainer, .coachesContainer {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sectionInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .sectionInfo:last-child {
    border-bottom: none;
  }
  
  .indicador p {
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .datos p {
    margin: 0;
    color: #555;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  button {
    background-color: #fbc02d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ffa000;
  }
  