<div class="container">
  <div class="content">
    <div *ngFor="let local of locales; let i = index" class="local">
      <div class="local-info">
        <h2>{{ local.sede }}</h2>
        <p>{{ local.direccion }}</p>
        <p>{{ local.referencia }}</p>
      </div>
      <iframe
        [src]="getGoogleMapUrl(local)"
        width="600" height="400"
        style="border: 5px solid #facc15; border-radius: 30px;"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>
