<div class="container">
  <div class="header">
    <h1>VIVE LA EXPERIENCIA DE LA<br> <span class="highlight">REVO:</span> TU GYM IDEAL</h1>
  </div>
  
  <div class="image-gallery">
    <div class="image-row">
      <img src="assets/space_image1.jpg" alt="Gym Image 1" />
      <img src="assets/space_image2.jpg" alt="Gym Image 2" />
    </div>
    <div class="image-row">
      <img src="assets/space_image3.jpg" alt="Gym Image 3" />
      <img src="assets/space_image4.jpg" alt="Gym Image 4" />
    </div>
    <div class="image-row">
      <img src="assets/space_image5.jpg" alt="Gym Image 5" />
      <img src="assets/space_image6.jpg" alt="Gym Image 6" />
    </div>
  </div>

  <div class="header">
    <h1>NUESTRAS <span class="highlight">SEDES</span></h1>
  </div>

  <div class="content">
    <div *ngFor="let local of locales; let i = index" class="local">

      <div class="local-info">
        <h2>{{ local.sede }}</h2>
        <p>{{ local.direccion }}</p>
        <p>{{ local.referencia }}</p>
      </div>
      
      <iframe
        [src]="getGoogleMapUrl(local)"
        width="600" height="400"
        style="border: 5px solid #facc15; border-radius: 30px;"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
</div>
