.body-viewLogin{
    background-image: url('/assets/fondo_perfil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfilContainer {
    min-width: 390px;
    min-height: 470px;
    background-color: #000000a6;
    width: 30%;
    max-height: 600px;
    height: 570px;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.avatar {
    height: 130px;
    width: 130px;
    background-color: #effa4a;
    border-radius: 50%;
    background-size: cover; 
    background-position: center;
  }

.sectionInfo { 
    height: 45px;
    min-width: 370px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.indicador, .datos {
    margin: 10px;
    font-size: 17.5px;
}

.indicador {
    color: #FFF112;
}

.datos {
    color: #ffffff;
}

.editarButton {
    height: 36px;
    width: 130px;
    margin-top: 20px;
    border-radius: 8px;
    border: #00000000;
    background-color: #FFF112;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .editarButton:hover {
    background-color: #00000067;
    border: solid 1px  #FFF112;
    color: #FFF112;
  }