<div class="body-viewLogin">
    <div class="perfilContainer">
        <div class="avatar"></div>
        <div class="informacion">
            <div class="sectionInfo">
                <div class="indicador"><p>Nombre Completo:</p></div>
                <div class="datos"><p id="nombreCompleto"></p></div>
            </div>

            <div class="sectionInfo">
                <div class="indicador"><p>Usuario:</p></div>
                <div class="datos"><p id="usuario"></p></div>
            </div>

            <div class="sectionInfo">
                <div class="indicador"><p>Fecha de registro:</p></div>
                <div class="datos"><p id="fechaDeRegistro"></p></div>
            </div>

            <div class="sectionInfo">
                <div class="indicador"><p>Planes Actuales:</p></div>
                <div class="datos"><p id="planesActuales"></p></div>
            </div>
            <button class="editarButton">Editar Perfil</button>
        </div>
    </div>
</div>