


/* You can add global styles to this file, and also import other style files */

* {
  user-select: none;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background-color: #171717;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
